@{
    ViewData["Title"] = "Author Details";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Name:</strong> Anthony Ochwo</p>
<p><strong>Student Number:</strong> ST10395938</p>
<p><strong>Module:</strong> CLDV6211</p>
<p><strong>POE Part:</strong> Part 2</p>
<p><strong>Date:</strong> 13/05/2025</p>